#footer
{
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}



#footer {
    display: flex;
    list-style: none;
    margin-top: 20px;
    font-family: helvetica;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#footer li,
#footer a 
{
    margin: 10px;
    color: #C4C4C4;
}