#homepage #content {
  position: relative;
}

#homepage h1 {
  margin-top: 20px;
  color: white;
  font-family: garamond-premier-pro-display;
  font-size: 110px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: -0.01em;
  line-height: 1em;
}

#homepage p {
  color: white;
  font-family: garamond-premier-pro-display;
}

#homepage body {
  background-color: black;
}

#homepage .logo {
  position: relative;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

#homepage .page-links {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#homepage .page-links a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 8px;
  appearance: button;
  min-width: 178px;
}

#homepage .page-links:hover {
  background: #ddd;
}

#homepage .page-links a:hover {
  color: black;
}

#homepage #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(45%);
}

#homepage #footer{
    position: relative;
    bottom: -190px;
}