#review-page h1 {
  font-family: "Anton", sans-serif;
}

#review-page .review-subpage-info {
  width: 400px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  margin: 20px;
  padding: 20px;
}

#review-page .review-subpage-info p,
#review-page .review-subpage-info h3 {
  text-align: center;
}

#review-page .review-subpage-info img {
  margin: 20px auto;
  height: 70%;
  display: block;
  width: 75%;
}

#review-page .reviews-container {
  display: flex;
  flex-wrap: wrap;
}

#review-page .next-review {
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

#review-page .tags {
  display: inline-block;
  padding: 3px 8px;
  color: #3b3b3b;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff000;
  margin-left: 20px;
  margin-bottom: 30px;
}

#review-page .review-subpage-info a {
  text-decoration: none;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  color: black;
}

#review-page .review-subpage-info a:hover {
  text-decoration: underline;
}
